<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3rd</title>
    {% load staticfiles %}
</head>
<body>

    <h1>마 이게 ({{cat}})시계열 그래프다</h1>
    <img src="{% static 'images/'|add:cat|add:'_ts.jpg' %}"/>

    <br/>
    <h1>마 이게 ({{cat}})대표기사다</h1>
     <table>
        <tr>
            <td><B>Date</B></td>
            <td><B>Title</B></td>
        </tr>
         {% for id, date, title in cat_df %}
         <tr>
            <td>{{date}}</td>
            <td class="{{id}}">{{title}}</td>
        </tr>
        {% endfor %}
     </table>
</body>
</html>
